body {
	text-align: center;
	background-color: green;
	color: black;
}

h1 {
	size: 28px;
}

h2 {
	color: blue;
	size: 16px;
}

a {
	color: white;
	font-style: bold;
}

p {
	text-transform: lowercase;
}
